html{
    background-color: black;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-family: monospace;
    box-sizing: border-box;
}

.main-panel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-panel {
    display: flex;
    width: 30%;
    height: calc(100% - 60px);
    background: rgb(24, 24, 25);
    flex-direction: column;
    padding: 30px;
}

#newchat {
    background: rgb(12, 12, 12);
    border: none;
    color: rgb(209, 213, 219);
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgb(39, 39, 42);
    margin-bottom: 20px;
    transition: 0.2s ease;
}

#newchat:hover {
    background: rgb(24, 24, 25);
}

#newPlus{
    font-size: 20px;
}

#newchat div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#chat-container {
    width: 100%;
    max-width: 672px;
    height: 90%;
    background: rgb(24, 24, 25);
    border: 1px solid rgb(39, 39, 42);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chat-messages {
    width: calc(100% - 20px);
    padding: 20px 10px;
    min-height: 200px;
    overflow-y: auto;
    color: rgb(209, 213, 219);
}

.message-container {
    display: flex;
    width: (100% - 40px);
    padding: 10px 20px;
}

.message-container.user {
    justify-content: start;
}

.message-container.system {
    justify-content: end;
}

.message-container.user .message{
    color: rgb(209, 213, 219);
    background: rgb(12, 12, 12);
}

.message-container.system .message{
    color: rgb(12, 12, 12);
    background: rgb(209, 213, 219);
}

.message {
    max-width: 80%;
    width: fit-content;
    border: 1px solid rgb(39, 39, 42);
    border-radius: 5px;
    padding: 0 20px;
}

#user-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    margin: 20px;
    border: 1px solid rgb(39, 39, 42);
    border-radius: 5px;
}

#query {
    height: auto;
    max-height: 200px;
    background-color: transparent;
    resize: none;
    flex: 1;
    padding: 20px;
    color: rgb(209, 213, 219);
    border: none;
}

#query:focus-within{
    outline: none;
}

#submitBtn {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 20px;
    background-color: rgb(209, 213, 219);
    border: 1px solid rgb(39, 39, 42);
    border-radius: 4px;
}

#submitBtn svg{
    height: 100%;
    width: 100%;
}